<section class="design">
  <include
    src="./dropdown.html"
    title="Diseña"
    icon="far fa-object-ungroup"
  ></include>
  <!-- <div class="dropdown">
    <div class="dropdown__title">
      <i class="far fa-object-ungroup dropdown__icon"></i>
      <h2 class="dropdown__text">Diseña</h2>
    </div>
    <i class="fas fa-angle-down dropdown__arrow"></i>
  </div> -->
  <div class="colorcontainer js-container">
    <h3 class="colorcontainer__title">Colores</h3>
    <div class="colorcontainer__colors">
      <label class="colorcontainer__Label">
        <input class="colorcontainer__option" type="radio" name="palette" />
        <ul class="colorcontainer__palette">
          <li
            class="colorcontainer__square colorcontainer__square--color1-1"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color1-2"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color1-3"
          ></li>
        </ul>
      </label>

      <label class="colorcontainer__Label">
        <input class="colorcontainer__option" type="radio" name="palette" />
        <ul class="colorcontainer__palette">
          <li
            class="colorcontainer__square colorcontainer__square--color2-1"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color2-2"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color2-3"
          ></li>
        </ul>
      </label>

      <label class="colorcontainer__Label">
        <input class="colorcontainer__option" type="radio" name="palette" />
        <ul class="colorcontainer__palette">
          <li
            class="colorcontainer__square colorcontainer__square--color3-1"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color3-2"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color3-3"
          ></li>
        </ul>
      </label>
    </div>
  </div>
</section>
