<section class="fill">
    <button type="button" name="button" class="fill-btn dropdownfill-btn">
    <include
      src="./dropdown.html"
      title="Rellena"
      icon="far fa-keyboard dropdown__icon "
      arrow="js-arrow-fill"
    ></include>
  </button>
    <div class="collapsable__content hidden dropdownfillcontainer">
        <form class="form__container" action="/signup" method="POST">
            <div class="fill__container">
                <label class="form__label" for="name">Nombre completo</label>
                <input class="form__input jsname" placeholder="Ej: Paquita Salas" id="name" type="text" name="name" />
            </div>
            <div class="fill__container">
                <label class="form__label" for="job">Puesto</label>
                <input placeholder="Ej: CEO PS management" class="form__input jsjob" id="job" type="text" name="job" />
            </div>
            <div class="fill__container">
                <label class="form__label" for="photo">Imagen de perfil</label>
                <div class="image-form__container">
                    <div class="button">
                        <button class="button__form">Añadir imagen</button>
                    </div>
                    <!-- <input class="button-image" type="" value="Añadir imagen" /> -->
                    <div class="small-image__container"></div>
                </div>
            </div>
            <div class="fill__container">
                <label class="form__label" for="email">Email</label>
                <input placeholder="Ej: email" class="form__input jsmail" id="email" type="email" name="email" />
            </div>
            <div class="fill__container">
                <label class="form__label" for="phone">Teléfono</label>
                <input placeholder="Ej: 555-452-369 " class="form__input jsphone" id="phone" type="tel" name="phone" />
            </div>
            <div class="fill__container">
                <label class="form__label" for="linkedin">Linkedin</label>
                <input placeholder="Ej: paquita.salas" class="form__input jsin" id="linkedin" type="text" name="linkedin" />
            </div>
            <div class="fill__container">
                <label class="form__label" for="github">Github</label>
                <input placeholder="Ej: @paquita-salas" class="form__input" id="github" type="text" name="github" />
            </div>
        </form>
    </div>
</section>