<section>
  <span></span>
  <h2>Rellena</h2>
  <span></span>
</section>

<div class="collapsable__content fill">
  <form action="/signup" method="POST">
    <div class="fill__container">
      <label for="name">Nombre completo</label>
      <input
        class="form__input"
        placeholder="Ej: Paquita Salas"
        id="name"
        type="text"
        name="name"
      />
    </div>
    <div class="fill__container">
      <label for="job">Puesto</label>
      <input
        placeholder="Ej: Manager"
        class="form__input"
        id="job"
        type="text"
        name="job"
      />
    </div>
    <div class="fill__container">
      <label for="photo">Imagen de perfil</label>
    </div>
    <div class="fill__container">
      <button>Añadir imagen</button>
      <div>
        <img />
      </div>
    </div>
    <div class="fill__container">
      <label for="email">Email</label>
      <input
        placeholder="Ej: email"
        class="form__input"
        id="email"
        type="email"
        name="email"
      />
    </div>
    <div class="fill__container">
      <label for="phone">Teléfono</label>
      <input
        placeholder="Ej: 555-452-369 "
        class="form__input"
        id="phone"
        type="tel"
        name="phone"
      />
    </div>
    <div class="fill__container">
      <label for="linkedin">Linkedin</label>
      <input
        placeholder="Ej: linkedin.com/in/paquita.salas"
        class="form__input"
        id="linkedin"
        type="url"
        name="linkedin"
      />
    </div>
    <div class="fill__container">
      <label for="github">Github</label>
      <input
        placeholder="Ej: @paquita-salas"
        class="form__input"
        id="github"
        type="url"
        name="github"
      />
    </div>
  </form>
</div>
