<main class="main">
  <div class="main__logo">
    <img
      class="main__logo--img"
      src="./assets/images/logo.png"
      alt="Logo PS-Management"
      title="Logo PS-Management"
    />
  </div>
  <div class="main__text">
    <h1 class="main__text--title">Crea tu tarjeta de visita</h1>
    <p class="main__text--subtitle">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </div>
  <div class="main__articles">
    <article class="main__articles--design">
      <p class="main__articles--text">1.Diseña</p>
    </article>
    <article class="main__articles--fill">
      <p class="main__articles--text">2.Rellena</p>
    </article>
    <article class="main__articles--share">
      <p class="main__articles--text">3.Comparte</p>
    </article>
  </div>
  <div>
    <a
      class="main__btn"
      href="./principal.html"
      title="Go to profile card design"
      >Comenzar</a
    >
  </div>
</main>
