<section class="preview">
    <button class="reset"> <i class="fa fa-trash-alt" aria-hidden="true" alt="trash-can"></i> </i>Reset</button>
    <section class="page">
        <div class="container">
            <div class="container__main-texts">
                <h2 class="container__main-texts--title jsnamepreview">Paquita Salas</h2>
                <h3 class="container__main-texts--subtitle jsjobpreview">CEO PS Management</h3>
            </div>
        </div>
        <div class="Page__container">
            <img class="page__container--photo" src="./assets/images/paquita.png" alt="paquita"></img>
        </div>
        <section class="page__icons">
            <div class="page__icons--icon">
                <a href="" class="link-icon jsphonelink" target="_blank">
                    <i class="fas fa-mobile-alt link" aria-hidden="true" alt="icon-phone"></i>
                </a>
            </div>
            <div class="page__icons--icon">
                <a href="" class="link-icon jsmaillink">
                    <i class="far fa-envelope link" aria-hidden="true" alt="icon-mail"></i>
                </a>
            </div>
            <div class="page__icons--icon">
                <a href="" class="link-icon jslinkedinlink" target="_blank">
                    <i class="fab fa-linkedin-in link" aria-hidden="true" alt="icon-linkedin"></i>
                </a>
            </div>

            <div class="page__icons--icon">
                <span class="page__icons--circle"></span>
                <a href="" class="link-icon jsgithublink" target="_blank">
                    <i class="fab fa-github-alt link" aria-hidden="true" alt="icon-github"></i>


                </a>
            </div>
        </section>
    </section>
</section>