<section class="preview">
    <button class="reset"> <i class="fa fa-trash-alt" aria-hidden="true" alt="trash-can"></i> </i>Reset</button>
    <section class="page">
        <h2 class="page__title">nombre apellido</h2>
        <h3 class="page__subtitle">CEO PS Management</h3>
        <img class="page__photo" scr="./assets/images/paquita.png" alt="paquita"></img>
        <div>
            <a class="page__link-icon" href="" target="_blank">
                <i class="fas fa-mobile-alt" aria-hidden="true" alt="icon-phone"></i>
            </a>
        </div>
        <div>
            <a class="page__link-icon" href="" target="_blank">
                <i class="far fa-envelope" aria-hidden="true" alt="icon-mail"></i>
            </a>
        </div>
        <div>
            <a class="page__link-icon" href="" target="_blank">
                <i class="fab fa-linkedin-in" aria-hidden="true" alt="icon-linkedin"></i>
            </a>
        </div>
        <div>
            <a class="page__link-icon" href="" target="_blank">
                <i class="fa fa-github-alt" aria-hidden="true" alt="icon-github"></i>
            </a>
        </div>
    </section>



</section>