<section class="share">
  <include
    src="./dropdown.html"
    title="Comparte"
    icon="fas fa-share-alt"
    mainClass="dropdownshare-btn"
  ></include>
  <div class="share-button hidden dropdownsharecontainer dropdowncontainer">
    <button class="share-button__create-card jssharebtn">
      <i class="far fa-address-card share__create card"></i> Crear tarjeta
    </button>
    <p class="share-text">La tarjeta ha sido creada</p>
    <div class="share-button-twitter--container">
      <button class="share-button--twitter">
        Compartir en twitter
        <i class="fab fa-twitter"></i>
      </button>
    </div>
  </div>
  <div class="line-dividing"></div>
</section>
