.preview {
  height: 457px;
  background-color: #bfcdd0;
  padding-left: 45px;
}

.reset {
  margin-top: 38px;
  margin-bottom: 20px;
  text-transform: uppercase;
  height: 30px;
  width: 75px;
  color: $color-general-text;
  font-family: $font-main;
  font-size: 12px;
  border-radius: 25px;
  text-decoration: none;
  background-color: transparent;
  border: solid 1px $color-button;
}

.page {
  border-radius: 2px;
  height: 329px;
  width: 240px;
  box-shadow: 0 1px 10px 0 #000000, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  background-color: $color-button;
  &__main-texts {
    padding-top: 21px;
    border-left: solid 5px $color-form-text;
    &--title {
      text-transform: capitalize;
      font-family: $font-principal;
      font-weight: 600;
      font-size: 18px;
      color: $color-form-text;
      padding: 0 0 0 20px;
    }
    &--subtitle {
      font-family: $font-principal;
      font-size: 16px;
      color: $color-general-text;
      padding: 0 0 0 20px;
    }
  }
  &__photo {
    padding-top: 10px;
    height: 200px;
    width: 240px;
  }
  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    &--icon {
      //padding: 0 52px 2px 10px;//
      height: 32px;
      width: 32px;
      border: solid 2px $color-form-border;
      border-radius: 50%;
      color: $color-form-text;
      text-decoration: none;
      justify-content: center;
    }
  }
}

.link-icon {
  color: $color-form-text;
  &:visited {
    color: $color-form-text;
  }
}
